.order {
  width: 840px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  h2 {
    font-family: "PragmaticaCondCTT" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    /* identical to box height, or 40px */

    /* Text */

    color: #333333;
  }
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */

    display: flex;
    align-items: center;

    /* Text */

    color: #333333;
  }

  &__fill {
    width: 375px;
    height: 60px;
    margin-top: 30px;
    margin-left: 30px;

    background: #f6f6fc;
    border-radius: 5px;
    border: none;
  }
  &__form {
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
  }

  &__radio {
    width: 840px;
    height: 170px;
  }
}
.check {
  width: 20px;
  height: 20px;
}
