.card {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 8px;

  width: 360px;
  height: 1319px;

  /* Material 3/surfaces/dark/surface1

Surface 1
*/
  background: #1a1c1c;
  /* Material 3/state-layers/dark/secondary/opacity-0.16 */

  border: 1px solid rgba(187, 201, 202, 0.16);
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
  h1 {
    color: #e2e2e2;
  }
  input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
    background: #1e1e1e;
    color: #e2e2e2;
    width: 350px;
    height: 56px;
    border: none;
    outline: none;
  }
  ::placeholder {
    color: rgba(255, 255, 255, 0.87);
  }

  button {
    border: none;
    background: none;
  }
  &__name {
    margin-bottom: -20px;
    transition: box-shadow 0.3s;
    border: none;
  }
  &__name:hover {
    box-shadow: 0 0 11px rgba(255, 255, 255, 0.2);
    color: rgb(0, 162, 255);
  }
  &__number {
    color: #8b8b8b;
    font-size: medium;
  }
  &__more {
    display: none;
  }
  .btn {
    background: red;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 4px;
  }
  .--done {
    background: green;
  }
  .--edit {
    background: orange;
  }
  p {
    color: rgba(255, 255, 255, 0.87);
  }
}
