.footer {
  width: 1440px;
  height: 647px;

  background: #262626;

  h3 {
    padding: 80px 80px 0;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    /* identical to box height, or 40px */

    /* Wight */

    color: #ffffff;
  }
  &__bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    & > div {
      h6 {
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #ffffff;
        text-align: center;
      }
      ul {
        margin-left: 150px;
        text-align: left;
        li {
          text-align: left;
          list-style-type: none;
          color: aliceblue;
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 125%;
          /* identical to box height, or 14px */

          /* Wight */

          color: #ffffff;

          opacity: 0.6;
        }
      }
    }
  }
}
